:root {
    --bs-primary: #FF7506!important; 
}

.btn-primary {
    background-color: var(--bs-primary)!important;
    border-color: var(--bs-primary)!important;
}

.btn-primary:hover {
    background-color: rgba(255, 117, 6, 0.8)!important; /* Slightly darkened color using opacity */
    border-color: rgba(255, 117, 6, 0.8)!important;
}

.btn-outline-primary {
    color: var(--bs-primary)!important; 
    border-color: var(--bs-primary)!important; 
}

.btn-outline-primary:hover {
    background-color: var(--bs-primary)!important; 
    color: #fff!important; 
    border-color: var(--bs-primary)!important; 
}

.text-primary {
    color: var(--bs-primary)!important; 
}

body {
    background-image: url('/images/BG-app.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-color: #FFF2E7 !important;
    margin: 0 !important;
    height: 100vh !important;
    overflow: hidden !important;
}

.logo {
    max-width: 178px;
    height: auto;
}

.title-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #803B03;
    font-size: 36px;
}

.form-container {
    width: 540px;
    max-width: 100%;
    background-color: #FFE3CD;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .title-header {
        font-size: 28px; 
    }

    .logo {
        max-width: 150px; 
    }

    .container-content {
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 90% !important;
    }

    .form-container {
        width: 100%;
        max-width: 90%;
    }

    .layer-image {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-content {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 15% !important;  
        width: 90% !important;
    }

    .title-header {
        font-size: 32px;
    }

    .logo {
        max-width: 160px; 
    }

    .form-container {
        width: 90%;
        max-width: 500px; 
    }

    .layer-image {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .container-content {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 10% !important;  
        width: 90% !important;
    }

    .title-header {
        font-size: 36px;
    }

    .logo {
        max-width: 178px;
    }

    .form-container {
        width: 540px;  
        max-width: 100%;
    }

    .layer-image {
        display: none;
    }
}

@media (min-width: 1401px) {
    .container-content {
        left: 20%;
        transform: translateX(-50%);
        top: 10%;
        width: 90%;
        max-width: 540px;
    }

    .title-header {
        font-size: 36px;
    }

    .logo {
        max-width: 178px;
    }

    .form-container {
        width: 540px;
        max-width: 100%;
    }

    .layer-image {
        display: block;
    }
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #333;
}

.nav-link:hover {
    background-color: #FFE3CD !important;
    color: #FF7506 !important;
}

.nav-pills .nav-link.active {
    background-color: #FF7506 !important;
    color: white !important;
}

.fas.fa-chevron-down, .fas.fa-chevron-up {
    color: #FF7506 !important;
}

.nav-pills .nav-link.active #arrow {
    color: white !important;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
    }
}

.setting-text {
    color: gray; 
}

.setting-text.active {
    color: #BF5805; 
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    color: #FF7506 !important; 
    background-color: #FFE3CD !important;
    border-color: #FF7506 #FF7506 #FFE3CD !important; 
    font-weight: 700 !important; 
}

.nav-tabs .nav-link:hover {
    color: #FF7506!important; 
    background-color: #FFE3CD!important; 
}

.hidden {
    display: none;
}

.avatar-preview {
    background-color: #f0f0f0; /* Light grey background */
}

#settingsSubmenu.show {
    visibility: visible !important;
    display: block !important;
}

